USE [master]
GO
/****** Object:  Database [MyDb]    Script Date: 5/27/2019 12:22:48 AM ******/
CREATE DATABASE [MyDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MyDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MyDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyDb]
GO
USE [MyDb]
GO
/****** Object:  Table [dbo].[Ders]    Script Date: 5/27/2019 12:22:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ders](
	[ID_Ders] [int] IDENTITY(1,1) NOT NULL,
	[ders_adi] [nvarchar](max) NOT NULL,
	[FK_sinif_ID] [int] NOT NULL,
	[FK_ogrenci_ID] [int] NOT NULL,
 CONSTRAINT [PK_Ders] PRIMARY KEY CLUSTERED 
(
	[ID_Ders] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 5/27/2019 12:22:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[ID_ogrenci] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](max) NOT NULL,
	[soyad] [nvarchar](max) NOT NULL,
	[numara] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Ogrenci] PRIMARY KEY CLUSTERED 
(
	[ID_ogrenci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinif]    Script Date: 5/27/2019 12:22:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinif](
	[ID_Sinif] [int] IDENTITY(1,1) NOT NULL,
	[sinif_adi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Sinif] PRIMARY KEY CLUSTERED 
(
	[ID_Sinif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ders]  WITH CHECK ADD  CONSTRAINT [FK_Ders_Ogrenci] FOREIGN KEY([FK_ogrenci_ID])
REFERENCES [dbo].[Ogrenci] ([ID_ogrenci])
GO
ALTER TABLE [dbo].[Ders] CHECK CONSTRAINT [FK_Ders_Ogrenci]
GO
ALTER TABLE [dbo].[Ders]  WITH CHECK ADD  CONSTRAINT [FK_Ders_Sinif] FOREIGN KEY([FK_sinif_ID])
REFERENCES [dbo].[Sinif] ([ID_Sinif])
GO
ALTER TABLE [dbo].[Ders] CHECK CONSTRAINT [FK_Ders_Sinif]
GO
USE [master]
GO
